@charset "utf-8";

// 主色
// $color_theme: #b480e8;
$color_theme: #fff;


// 警示色
$color_wraning: #F5A100;

// 提示色
$color_prompt_blue: #8f17c7;

// 提示色
$color_prompt_yellow: #f7bb42;

// 按钮高亮色
$color_btn_hight: #6ccaee;

// 文本框底色
$color_borderbg: #d0eef9;

$color_background: #f8f8f8;

//表格选中底色背景
$color_tablebg: #f2f2f2;

$color_text: #333333;
// 默认字体颜色
$color_text_default: #444444;
$color_text_light: #666666;
$color_text_ligntt: #999999;

$color_border: #D8D8D8;


