@import "./_compatible.scss";

.flex {
    @include flex;
}

.justify-content-center {
    @include justify-content-center;
}

.justify-content-space-between {
    @include justify-content-space-between;
}

.justify-content-space-around {
    @include justify-content-space-around;
}

.align-items-center {
    @include align-items-center;
}

.column {
    @include column;
}

.wrap {
    @include wrap;
}

.clearfix:after{
    display: block;
    content:' ';
    width: 100%;
    height: 0;
    clear: both;
}