@charset "UTF-8";
@import "../../../assets/css/color";
@import "../../../assets/css/font";

aside {
    width: 200px;
    height: 100%;
    display: flex;
    font-size: $font_h4;
    background-color: efefef;
    h5 {
        color: $color_text_ligntt;
        margin: 0 0 0 10px; 
    }
    ul {
    //  margin-left: 20px;
     width: 100%;
     li {
        height: 30px;
        line-height: 1;
        box-sizing: border-box;
        &.active{
            border-left: 2px solid #ff0000
        }
     }
    }

}