@charset "UTF-8";
@import "../../../assets/css/color";
@import "../../../assets/css/font";

aside {
    width: 200px;
    height: 100%;
    display: flex;
    font-size: $font_h4;
    h5 {
        color: $color_text_ligntt
    }
    ul {
        
    }

}